<!-- we can add some bg-img and color here -->
<div>
    <p>Hi <%= task.user.name %>!</p>
    <br><br>
    <p>Your Comment 
        <strong><%= task.title %></strong>
        just got published on Task Manager App with Description: <span> <%= task.description%> </span>
    </p>
    <br><br>
    <p>Thank You!</p>
</div>